In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({'float': [1.0, 1.5],

                   'mix': [3, 'hewoo'],

                   'datetime': [pd.Timestamp('20180310'), pd.Timestamp('2020-05-31')],

                   'int': [1, 3],
                   'float_2': [2.5, 5.2]})

In [6]:
df

   float    mix   datetime  int  float_2
0    1.0      3 2018-03-10    1      2.5
1    1.5  hewoo 2020-05-31    3      5.2

In [7]:
df['float'].dtype

dtype('float64')

In [8]:
df['int'].value_counts()

3    1
1    1
Name: int, dtype: int64

In [9]:
df['float'].dtype

dtype('float64')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   float     2 non-null      float64
 1   mix       2 non-null      object
 2   datetime  2 non-null      datetime64[ns]
 3   int       2 non-null      int64
 4   float_2   2 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 208.0+ bytes

In [11]:
df.applymap(type)

,float,mix,datetime,int,float_2
0,<class 'float'>,<class 'int'>,<class 'pandas._libs.tslibs.timestamps.Timesta...,<class 'int'>,<class 'float'>
1,<class 'float'>,<class 'str'>,<class 'pandas._libs.tslibs.timestamps.Timesta...,<class 'int'>,<class 'float'>

In [12]:
df.dtypes

float              float64
mix                 object
datetime    datetime64[ns]
int                  int64
float_2            float64
dtype: object

In [13]:
df.dtypes.value_counts().count()

4

In [14]:
np.unique(df.dtypes)

array([dtype('float64'), dtype('<M8[ns]'), dtype('int64'),
       dtype('float64'), dtype('O')], dtype=object)